In [1]:
import pandas as pd
import re
from datetime import datetime

In [2]:
df =  pd.read_csv("data/results.csv")

In [3]:
df["date"] = pd.to_datetime(df["date"])

In [4]:
euro_games = df[(df.date.dt.year == 2024) & (df.tournament == "UEFA Euro")]

In [5]:
df.dropna(inplace=True)

In [6]:
df = df[(df["date"] >= "2019-8-1")].reset_index(drop=True)

In [7]:
rank = pd.read_csv("data/fifa_ranking-2024-04-04.csv")
rank.rank_date = rank.rank_date.apply(lambda x: x.replace("2024-04-04", datetime.today().strftime('%Y-%m-%d')))

In [8]:
rank["rank_date"] = pd.to_datetime(rank["rank_date"])
rank = rank[(rank["rank_date"] >= "2019-8-1")].reset_index(drop=True)
rank["country_full"] = rank["country_full"].str.replace("Czechia", "Czech Republic").str.replace("IR Iran", "Iran").str.replace("Korea Republic", "South Korea").str.replace("USA", "United States")

rank = rank.set_index(['rank_date']).groupby(['country_full'], group_keys=False).resample('D').first().fillna(method='ffill').reset_index()

In [9]:
df_ranked = df.merge(rank[["country_full", "total_points", "previous_points", "rank", "rank_change", "rank_date"]], left_on=["date", "home_team"], right_on=["rank_date", "country_full"]).drop(["rank_date", "country_full"], axis=1)

df_ranked = df_ranked.merge(rank[["country_full", "total_points", "previous_points", "rank", "rank_change", "rank_date"]], left_on=["date", "away_team"], right_on=["rank_date", "country_full"], suffixes=("_home", "_away")).drop(["rank_date", "country_full"], axis=1)

In [10]:
df_ranked.to_csv("data/data_rank.csv", index=False)

In [14]:
def result_finder(home, away):
    if home > away:
        return "Home"
    if home < away:
        return "Away"
    else:
        return "Draw"

df["result"] = df.apply(lambda x: result_finder(x["home_score"], x["away_score"]), axis=1)

In [21]:
df[df.tournament  =="UEFA Euro"].head(36).result.value_counts()

Home    17
Away    11
Draw     8
Name: result, dtype: int64

In [6]:
euro_games.to_csv("data/euro_matches.csv", index=False)

In [14]:
rank[rank.country_full.str.contains("Czech")]

,rank_date,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation
90766,2019-09-19,44.0,Czech Republic,CZE,1441.00,1448.00,1.0,UEFA
90767,2019-09-20,44.0,Czech Republic,CZE,1441.00,1448.00,1.0,UEFA
90768,2019-09-21,44.0,Czech Republic,CZE,1441.00,1448.00,1.0,UEFA
90769,2019-09-22,44.0,Czech Republic,CZE,1441.00,1448.00,1.0,UEFA
90770,2019-09-23,44.0,Czech Republic,CZE,1441.00,1448.00,1.0,UEFA
...,...,...,...,...,...,...,...,...
92491,2024-06-09,40.0,Czech Republic,CZE,1494.04,1494.04,1.0,UEFA
92492,2024-06-10,40.0,Czech Republic,CZE,1494.04,1494.04,1.0,UEFA
92493,2024-06-11,40.0,Czech Republic,CZE,1494.04,1494.04,1.0,UEFA
92494,2024-06-12,40.0,Czech Republic,CZE,1494.04,1494.04,1.0,UEFA
92495,2024-06-13,36.0,Czech Republic,CZE,1501.47,1494.04,-4.0,UEFA